<!-- Sidebar  -->

<nav id="sidebar">
    <div class="sidebar-header">
        <a href="{{ url_for('index') }}"><i class="fas fa-home mr-1" style='font-size:40px'></i><h3 class="mt-3">財務預警</h3></a>
    </div>

    <ul class="list-unstyled components scrollbar" id="for_send_stocks">
        <li>
            <a href="#Asset" class="sidebar-selct" data-toggle="collapse" aria-expanded="false">
                <i style='font-size:20px' class="fas fa-money-check-alt"></i>
                <span>
                    資金活用度
                </span></a>
            <ul class="collapse list-unstyled" id="Asset">
                <li>
                    <a href="{{ url_for('current_liab_current_assets') }}" id="current_liab_current_assets">流動負債佔流動資產比</a>
                </li>
                <li>
                    <a href="{{ url_for('l17') }}" id="efficiency">每人營業利益</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#Sales" class="sidebar-selct" data-toggle="collapse" aria-expanded="false">
                <i style='font-size:23px' class="fas fa-briefcase"></i>
                <span>
                    務業成長性
                </span></a>
            <ul class="collapse list-unstyled" id="Sales">
                <li>
                    <a href="{{ url_for('Operating_margin') }}" id="Operating_margin">營業利益率</a>
                </li>
                <li>
                    <a href="{{ url_for('earning_before_tax_margin') }}" id="earning_before_tax_margin">稅前淨利率</a>
                </li>
                <li>
                    <a href="{{ url_for('Net_Asset_Value_per_Share_F') }}" id="Net_Asset_Value_per_Share_F">每股淨值</a>
                </li>
                <li>
                    <a href="{{ url_for('l3') }}" id="l3">每股營業利益</a>
                </li>
                <li>
                    <a href="{{ url_for('l4') }}" id="l4">每股稅前淨利</a>
                </li>
                <li>
                    <a href="{{ url_for('net_income_change_rate') }}" id="net_income_change_rate">淨利變動率</a>
                </li>
                <li>
                    <a href="{{ url_for('Retained_earnings_assets') }}" id="Retained_earnings_assets">保留盈餘佔總資產比</a>
                </li>
                <li>
                    <a href="{{ url_for('Income_Before_Tax_and_Interests_assets') }}" id="Income_Before_Tax_and_Interests_assets">稅前息前盈餘佔總資產比</a>
                </li>
                <li>
                    <a href="{{ url_for('negative_two_years') }}" id="negative_two_years">兩年淨利是否為負</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#Business" class="sidebar-selct" data-toggle="collapse" aria-expanded="false">
                <i style='font-size:24px' class="fas fa-building"></i>
                <span>
                    經營穩定性
                </span></a>
            <ul class="collapse list-unstyled" id="Business">
                <li>
                    <a href="{{ url_for('debt_ratio') }}" id="debt_ratio">負債比率</a>
                </li>
                <li>
                    <a href="{{ url_for('Interest_Coverage_Ratio') }}" id="Interest_Coverage_Ratio">利息保障倍數</a>
                </li>
                <li>
                    <a href="{{ url_for('ration_of_interest_expense') }}" id="ration_of_interest_expense">利息支出率</a>
                </li>
                <li>
                    <a href="{{ url_for('Debt_Equity_Ratio') }}" id="Debt_Equity_Ratio">債益比率</a>
                </li>

            </ul>
        </li>

        <li>
            <a href="#Culture" class="sidebar-selct" data-toggle="collapse" aria-expanded="false">
                <i style='font-size:20px' class="fas fa-street-view"></i>
                <span>
                    公司文化特性
                </span></a>
            <ul class="collapse list-unstyled" id="Culture">
                <li>
                    <a href="{{ url_for('i69') }}" id="i69">關係人交易</a>
                </li>


            </ul>
        </li>
    </ul>
</nav>

