{% extends "dashboard.html" %}

{% set charts=[["chart1", "svg1"]] %}

{% block page_inner %}
{% for chart in charts %}
<!-- 開始增加圖 -->
<div class="container">
    <div class="mx-auto" id="{{ chart[0] }}">
    </div>
</div>
{% endfor %}
{% endblock page_inner %}

{% block page_inner_js %}
<!--  全域變數-->
<script>
    var data=[
	{
		"Time": "2017/05",
		"BTC": 19.7,
		"DOGE": 0,
		"ETH": 48.88,
		"LTC": 20.81,
		"REP": 0,
		"TEST": 10
	},
	{
		"Time": "2017/06",
		"BTC": 21.21,
		"DOGE": 0,
		"ETH": 40.45,
		"LTC": 24.91,
		"REP": 0,
		"TEST": 15
	},
	{
		"Time": "2017/07",
		"BTC": 20.1,
		"DOGE": 11.58,
		"ETH": 41.73,
		"LTC": 24.06,
		"REP": 0,
		"TEST": 26
	},
	{
		"Time": "2017/08",
		"BTC": 20.28,
		"DOGE": 12.37,
		"ETH": 42.78,
		"LTC": 25.91,
		"REP": 0,
		"TEST": 33
	}
]

      var margin = { top: 50, right: 50, bottom: 30, left: 100 },
      width = 960 - margin.left - margin.right,
      height = 400 - margin.top - margin.bottom;

</script>

<!-- 開始增加所需的 D3.js -->
{% for chart in charts %}
<script>
    // Draw a line chart
var {{ chart[1] }}= d3.select("#" + "{{ chart[0] }}").append("svg")
      .attr("viewBox", "0 0 960 400")   //增加此行取代原本的height,weight，有RWD的效果
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // Graph title
  {{ chart[1] }}.append('text')
    .attr('x', (width / 2))
    .attr('y', 0 - (margin.top / 3))
    .attr('text-anchor', 'middle')
    .style('font-size', '16px')
    .text('Wallet chart')
    .attr("transform", "translate(0, -5)");

  // Function to convert a string into a time
  var parseTime = d3.time.format('%Y/%m').parse;
  // Function to show specific time format
  var formatTime = d3.time.format('%Y/%m');

  // Set the X scale
  var x = d3.time.scale().range([0, width], 0.5);

  // Set the Y scale
  var y = d3.scale.linear().range([height, 0]);
  // Set the color scale
  var color = d3.scale.ordinal()
    .domain([0, 1, 2, 3, 5])
    .range(["#0d6efd", "#6c757d", "#28a745", "#dc3545", "#ffc107", "#17a2b8"])

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .ticks(6)
    .tickFormat(formatTime);

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    // .interpolate("basis")
    .x(function (d) {
      return x(d.date);
    })
    .y(function (d) {
      return y(d.worth);
    });

color.domain(d3.keys(data[0]).filter(function (key) {
        return key !== "Time" && key !== "_id";
      }));
      // Correct the types
      data.forEach(function (d) {
        d.date = parseTime(d.Time);
      });

var currencies = color.domain().map(function (name) {
        return {
          name: name,
          values: data.map(function (d) {
            return {
              date: d.date,
              worth: +d[name]
            };
          })
        };
      });

    // Set the X domain
    x.domain(d3.extent(data, function (d) {
      return d.date;
    }));

    // Set the Y domain
    y.domain([
      d3.min(currencies, function (c) {
        return d3.min(c.values, function (v) {
          return v.worth;
        });
      }),
      d3.max(currencies, function (c) {
        return d3.max(c.values, function (v) {
          return v.worth;
        });
      })
    ]);

    // Set the X axis
    {{ chart[1] }}.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    // Set the Y axis
    {{ chart[1] }}.append("g")
      .attr("class", "y axis")
      .call(yAxis)
      .append("text")
      .attr("transform", "translate(0,-25)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Val");

    // Draw the lines
    var company = {{ chart[1] }}.selectAll(".company")
      .data(currencies)
      .enter().append("g")
      .attr("class", "company");

    company.append("path")
      .attr("class", "line")
      .attr("d", function (d) {
        return line(d.values);
      })
      .style("stroke", function (d) {
        return color(d.name);
      });

      // Add the circles
    company.append("g").selectAll("circle")
      .data(function (d) { return d.values })
      .enter()
      .append("circle")
      .attr("r", 2)
      .attr("cx", function (dd) { return x(dd.date) })
      .attr("cy", function (dd) { return y(dd.worth) })
      .attr("fill", "none")
      .attr("stroke", function (d) { return color(this.parentNode.__data__.name) });

    // Add label to the end of the line
    company.append("text")
      .attr("class", "label")
      .datum(function (d) {
        return {
          name: d.name,
          value: d.values[d.values.length - 1]
        };
      })
      .attr("transform", function (d) {
        return "translate(" + x(d.value.date) + "," + y(d.value.worth) + ")";
      })
      .attr("x", 3)
      .attr("dy", ".35em");

    // Add the mouse line
    var mouseG = {{ chart[1] }}.append("g")
      .attr("class", "mouse-over-effects");

    mouseG.append("path")
      .attr("class", "mouse-line")
      .style("stroke", "black")
      .style("stroke-width", "1px")
      .style("opacity", "0");

    var lines = document.getElementsByClassName('line');

    var mousePerLine = mouseG.selectAll('.mouse-per-line')
      .data(currencies)
      .enter()
      .append("g")
      .attr("class", "mouse-per-line");

    mousePerLine.append("circle")
      .attr("r", 7)
      .style("stroke", function (d) {
        return color(d.name);
      })
      .style("fill", "none")
      .style("stroke-width", "2px")
      .style("opacity", "0");

    mousePerLine.append("text")
      .attr("class", "hover-text")
      .attr("dy", "-1em")
      .attr("transform", "translate(10,3)");

    // Append a rect to catch mouse movements on canvas
    mouseG.append('svg:rect')
      .attr('width', width)
      .attr('height', height)
      .attr('fill', 'none')
      .attr('pointer-events', 'all')
      .on('mouseout', function () { // on mouse out hide line, circles and text
        d3.select(".mouse-line")
          .style("opacity", "0");
        d3.selectAll(".mouse-per-line circle")
          .style("opacity", "0");
        d3.selectAll(".mouse-per-line text")
          .style("opacity", "0");
      })
      .on('mouseover', function () { // on mouse in show line, circles and text
        d3.select(".mouse-line")
          .style("opacity", "1");
        d3.selectAll(".mouse-per-line circle")
          .style("opacity", "1");
        d3.selectAll(".mouse-per-line text")
          .style("opacity", "1");
      })
      .on('mousemove', function () { // mouse moving over canvas
        var mouse = d3.mouse(this);

        d3.selectAll(".mouse-per-line")
          .attr("transform", function (d, i) {

            var xDate = x.invert(mouse[0]),
              bisect = d3.bisector(function (d) { return d.date; }).left;
            idx = bisect(d.values, xDate);

            d3.select(this).select('text')
              .text(y.invert(y(d.values[idx].worth)).toFixed(2));

            d3.select(".mouse-line")
              .attr("d", function () {
                var data = "M" + x(d.values[idx].date) + "," + height;
                data += " " + x(d.values[idx].date) + "," + 0;
                return data;
              });
            return "translate(" + x(d.values[idx].date) + "," + y(d.values[idx].worth) + ")";
          });
      });

var move_x = 0.02
        var move_y = 0.04


        // 移動x軸
        d3.select(".x.axis").selectAll(".tick text").attr("dx", width * move_x)
        d3.select(".x.axis").selectAll(".tick line").attr("transform", "translate(" + (width * move_x) + ",0)")



        // 移動y軸
        d3.select(".y.axis").selectAll(".tick text").attr("dy", - (height * move_y))
        d3.select(".y.axis").selectAll(".tick line").attr("transform", "translate(0," + -(height * move_y) + ")")

        // 移動線跟點
        d3.selectAll(".line").attr("transform", "translate(" + (width * move_x) + "," + -(height * move_y) + ")")
        d3.selectAll("circle").attr("transform", "translate(" + (width * move_x) + "," + -(height * move_y) + ")")

        // 移動動畫的線
        d3.selectAll(".mouse-line").attr("transform", "translate(" + (width * move_x) + "," + -(height * move_y) + ")")

        //移動動畫的字
        d3.selectAll(".hover-text").attr("dx", width * move_x).attr("dy", - (height * move_y))
</script>
{% endfor %}
{% endblock page_inner_js %}

{% block script %}
{{ super() }}
{% endblock script %}



