<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>財務預警系統</title>
    {% include "./builtin/_front.html" %}
    <script src="https://kit.fontawesome.com/ef1f19bda1.js" crossorigin="anonymous"></script>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../static/css/_frame.css">
    {% endblock head %}
</head>

<body>
<div class="wrapper">
    {% block body %}
    {% include "./builtin/_sidebar.html" %}
    <!-- Page Content  -->
    <div id="content">
        <div id="accordion">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>縮小選單</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" id="two_menu"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link mt-1" id="fast_list" data-toggle="collapse"
                                   data-target="#collapseFailCompany" data-parent="#accordion" aria-expanded="false"
                                   aria-controls="collapseFailCompany">一鍵快篩</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link mt-1" id="all_list" data-toggle="collapse"
                                   data-target="#collapseCompany"
                                   href="#" aria-expanded="false" data-parent="#accordion"
                                   aria-controls="collapseCompany">挑選公司</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!--  選出了哪些公司-->
        <div class="slct_lists" id="all_company"></div>
        <!--    公司清單-->
        <div class="container p-1" id="compamy_all_list">
            <!--一件快篩公司清單-->
            <div class="collapse list-unstyled" data-parent="#compamy_all_list" id="collapseFailCompany"
                 data-toggle="collapse">
                <a>test</a>
            </div>
            <!--挑選公司清單-->
            {% set temp=[] %}
            <div class="collapse list-unstyled" data-parent="#fcompamy_all_list" id="collapseCompany"
                 data-toggle="collapse">
                {% for record in stocklist %}
                {% if record[0] not in temp %}
                <p class="p-navbar mb-0 pt-2">{{ record[0] }}</p>
                {{ temp.append(record[0]) or '' }}
                {% endif %}
                <div class="form-check flex-row form-check-inline b-0 ml-4 mr-0 pr-0 container-fluid"
                     style="width:20%;">
                    <input class="form-check-input" type="checkbox" id="{{ record[1] }}" value="{{ record[1] }}">
                    <label class="form-check-label card-text flex-fill" name="stocklist" for="{{ record[1] }}">{{
                        record[1]
                        }} {{ record[2] }}</label>
                </div>
                {% endfor %}
            </div>
        </div>

        {% block page_inner %}
        {% endblock page_inner %}
    </div>

    {% include "./builtin/_end.html" %}
    {% block page_inner_js %}
    {% endblock page_inner_js %}

    <script type="text/javascript">
  $(document).ready(function() {
    $('.form-check-input').on('click', function() {
      $('.form-check-input').toggleClass('active');
      $('.form-check-label').toggleClass('active');
    });
  });

<!--限制選取數量-- >
$("input:checkbox").click(function() {
  var bol = $("input:checkbox:checked").length >= 6;
  $("input:checkbox").not(":checked").attr("disabled", bol);
});

<!--將選取的值變成button 在頁面上顯示，並擋住不同選單、相同選項的按鈕-- >
var slct_stock = [];
var color = ["btn btn-primary", "btn btn-secondary", "btn btn-success", "btn btn-danger", "btn btn-warning", "btn btn-info"]
$(document).ready(function() {
  $('.form-check-input').click(function() {
    item = $(this).next("label").text();
    if ($(this).is(':checked')) {
      if (slct_stock.includes(item)){
        $(this).not(":checked");
      } else {
        slct_stock.push($(this).next("label").text());
      }
    } else {
      if (slct_stock.includes(item)){
        var slctIndex = slct_stock.indexOf(item);
        slct_stock.splice(slctIndex, 1);
      }
    }

    <!--加按鈕-- >
    $('.slct_lists').empty()
    if (slct_stock.length > 0) {
      for (i = 0; i < slct_stock.length; i++) {
        $('.slct_lists').append('<button type="button" class="' + color[i] + '  btn-sm m-1" rounded="true">' +
          slct_stock[i] + '</button>')
      }
    }
  });
});


<!--選單控制-- >
$(document).ready(function() {
  $("button.btn.btn-dark.d-inline-block").click(function() {
    if ($(this).attr('aria-expanded') == "false") {
      if ($('#fast_list').attr('aria-expanded') == 'true') {
        $('#fast_list').click();
      }
      if ($('#all_list').attr('aria-expanded') == 'true') {
        $('#all_list').click();
      }
    } else if ($(this).attr('aria-expanded') == "true") {
      if ($('#fast_list').attr('aria-expanded') == 'true') {
        $('#fast_list').click();
      }
      if ($('#all_list').attr('aria-expanded') == 'true') {
        $('#all_list').click();
      }
    }
  });
});

<!--Values from  navbar slct_stock use ajax to pass values-->
$(function(){
	$('#two_menu').click(function(){
		$.ajax({
			url: '/stocks',
			data: slct_stock,
			type: 'POST',
			success: function(response){
				console.log(response);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
});

$(function(){
	$('#liquidity').click(function(){
	var stocks = {slct_stock:slct_stock}
		$.ajax({
			url: '/stocks',
			data: JSON.stringify(stocks),
			type: 'POST',
			contentType: "application/json",
			success: function(response){
                console.log(response)
			},
			error: function(error){
				console.log(error);
			}
		});

	});
});



    </script>
    <!-- Page Content  -->
    {% endblock body %}
<script type="text/javascript">
$(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
</script>

</div>


</body>

</html>